<div class="outer-container">
  <nav class="container navContainer d-flex justify-content-between align-items-center">
    <a routerLink="/" class="textNone">
      <div class="image-container">
        <img
          src="https://res.cloudinary.com/den2yh2w9/image/upload/v1656817301/t_shirt_rtikzc.jpg"
          alt="t-shirt"
          class="tshirt-image"
        />
        <h1 class="title">TeeRex Store</h1>
      </div>
    </a>
    <div class="d-flex align-items-center">
      <a routerLink="/" class="items">
        Products
      </a>
      <a routerLink="/cart" class="items">
        Cart
      </a>
    </div>
  </nav>
</div>
