<div class="outer-container">
  <nav class="container navContainer d-flex justify-content-between align-items-center">
    <div class="image-container">
      <img
        src="https://res.cloudinary.com/den2yh2w9/image/upload/v1656817301/t_shirt_rtikzc.jpg"
        alt="t-shirt"
        class="tshirt-image"
      />
      <h1 class="title">TeeRex Store</h1>
    </div>
    <div class="d-flex align-items-center">
        <p class="items" routerLink="/">Products</p>
        <p class="items" routerLink="/cart">Cart</p>
        <!-- <button class="btn btn-primary">signup</button> -->
    </div>
  </nav>
</div>
