<div class="empty-container p-sm-1 p-md-4">
  <div class="empty-card-container" *ngIf="cartItems.length === 0">
    <img
    src="https://assets.ccbp.in/frontend/react-js/nxt-trendz-empty-cart-img.png"
    alt="empty-cart"
    class="empty-img"
  />
  <h1 class="empty-title">Your Cart Is Empty</h1>
  <a routerLink="/products">
    <button mat-raised-button color="primary" class="shop-now">Shop Now</button>
  </a>
  </div>
  
  <!-- user products container -->
  <div class="container d-flex flex-column" *ngIf="cartItems.length != 0">
    <h1 class="cart-title mt-2">My Cart</h1>
    <!-- <button class="align-self-end">Remove All</button> -->
	<ng-container *ngFor="let eachItem of cartItems">
		<div class="cart-items rounded-2 mt-md-4 mb-sm-3 mb-md-0">
			<div class="child-cart d-flex">
				<div class="d-none d-md-block p-3 rounded-2">
					<img class="cart-image" src="{{eachItem.image}}"/>
				</div>
				<!-- tab device container -->
				<div class="custom-style">
					<div class="d-flex justify-content-between align-items-center p-2">
						<div class="d-flex justify-content-between align-items-center w-75">
							<div>
								<p>{{eachItem.name}}</p>
								<p>{{eachItem.brand}}</p>
							</div>
							<div class="d-flex justify-content-between align-items-center quantity-btn-container">
								<button class="quantity-btn">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
										<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
									  </svg>
								</button>
								<p>{{eachItem.quantity}}</p>
								<button class="quantity-btn">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
										<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
									  </svg>
								</button>
							</div>
							<p>Rs {{eachItem.price}}/-</p>
						</div>
						<button matTooltip="Remove item" matTooltipPosition="above" class="btn btn-outline-danger">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
							<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
						  </svg>
						</button>
					</div>
				</div>
				<!-- mobile device container -->
				<div class="d-block d-md-none w-100 p-2 d-flex mb-2">
					<div class="rounded-2 bg-warning d-flex justify-content-center align-items-center img-container">
						<img class="cart-image" src="{{eachItem.image}}"/>
					</div>
					<div class="w-100 p-2">
						<div class="mb-2">
							<p>{{eachItem.name}}</p>
							<p>{{eachItem.brand}}</p>
						</div>
						<div class="d-flex justify-content-between align-items-center quantity-btn-container">
							<button class="quantity-btn">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
									<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
								  </svg>
							</button>
							<p>{{eachItem.quantity}}</p>
							<button class="quantity-btn">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
									<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
								  </svg>
							</button>
						</div>
						<div class="d-flex justify-content-between align-items-center mt-3">
							<p>Rs {{eachItem.price}}/-</p>
							<button>Remove</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</ng-container>
    
	<!-- cart-summery -->
	<div class="d-flex justify-content-end mt-3">
		<app-cart-summery></app-cart-summery>
	</div>
	
  </div>
</div>
