<div class="outer-container">
	<div class="container inner-container">
		<div class="d-flex justify-content-sm-between justify-content-md-center">
			<input
			  type="search"
			  placeholder="Search for Products..."
			  class="p-2 search-input"
			/>
			<button type="button" class="btn btn-outline-warning d-flex justify-content-center align-items-center search-button">
			  <mat-icon>search</mat-icon>
			</button>
			<button class="d-block d-md-none btn btn-outline-success d-flex justify-content-center align-items-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
					<path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
				  </svg>
			</button>
		  </div>
	</div>
	
  <div class="container inner-container d-flex">
		<div class="form-container pt-3">
			<form class="bg-warning  rounded-2 p-2">
				<div class="categoreys">
					<div class="mb-2">
						<h1 class="category-title">Color</h1>
						<div>
							<div class="d-flex align-items-center">
								<input type="checkbox" id="red" class="checkbox"/>
								<label for="red">Red</label>
							</div>
							<div class="d-flex align-items-center">
								<input type="checkbox" id="Blue" class="checkbox"/>
								<label for="Blue" class="checkbox-element">Blue</label>
							</div>
							<div class="d-flex align-items-center">
								<input type="checkbox" id="Green" class="checkbox"/>
								<label for="Green" class="checkbox-element">Green</label>
							</div>
						</div>
					</div>
					<div class="mb-2">
						<h1 class="category-title">Gender</h1>
						<div class="parent-container">
							<div class="d-flex align-items-center">
								<input type="checkbox" id="men" class="checkbox"/>
								<label for="men" class="checkbox-element">Men</label>
							</div>
							<div class="d-flex align-items-center">
								<input type="checkbox" id="women" class="checkbox"/>
								<label for="women" class="checkbox-element">Women</label>
							</div>
						</div>
					</div>
					<div class="mb-2">
					<h1 class="category-title">Price</h1>
					<div class="parent-container">
						<div class="d-flex align-items-center">
						<input type="checkbox" id="primary-range" class="checkbox"/>
						<label for="primary-range" class="checkbox-element">0-250</label>
						</div>
			
						<div class="d-flex align-items-center">
						<input type="checkbox" id="secondary-range" class="checkbox"/>
						<label for="secondary-range" class="checkbox-element"
							>251-450</label
						>
						</div>
			
						<div class="d-flex align-items-center">
						<input type="checkbox" id="super-range" class="checkbox"/>
						<label for="super-range" class="checkbox-element">451</label>
						</div>
					</div>
					</div>
					<div class="mb-2">
					<h1 class="category-title">Type</h1>
					<div class="parent-container">
						<div class="d-flex align-items-center">
						<input type="checkbox" id="polo" class="checkbox"/>
						<label for="polo" class="checkbox-element">Polo</label>
						</div>
			
						<div class="d-flex align-items-center">
						<input type="checkbox" id="hoodie" class="checkbox"/>
						<label for="hoodie" class="checkbox-element">Hoodie</label>
						</div>
			
						<div class="d-flex align-items-center">
						<input type="checkbox" id="basic" class="checkbox"/>
						<label for="basic" class="checkbox-element">Basic</label>
						</div>
					</div>
					</div>
				</div>
				<div class="d-flex justify-content-between">
					<button mat-raised-button color="primary">Apply Filters</button>
					<button mat-raised-button color="warn">Clear Filters</button>
				</div>
			</form>
		</div>
		<div class="products-container p-3">
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
				<ng-container *ngFor="let product of productsArray">
					<div class="col">
						<div class="card h-100 d-flex flex-column justify-content-between">
							<div  class="card-img-top">
								<img src="{{product.imageURL}}" alt="product" class="h-100 w-100">
							</div>
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center mb-1">
									<span class="price-value">{{product.price | currency:product.currency | slice:0:4}}</span>
									<h1 class="p-title">{{product.name}}</h1>
								</div>
								<div class="d-flex flex-column mb-1">
									<div class="d-flex align-items-center mb-2">
										<p class="lable">Brand:</p>
										<p class="value">{{product.type}}</p>
									</div>
									<div class="d-flex align-items-center">
										<p class="lable">Available:</p>
										<p class="value">{{product.quantity === 0 ? 'OutofStock':'InStock'}}</p>
									</div>
								</div>
								<div *ngIf="product.quantity === 0; then thenBlock else elseBlock"> 
									This content is not shown here bcz i am using thenblock
								</div>
								<ng-template #thenBlock>
									<button class="btn btn-primary mt-2 disabled" (click)="addtocart(product)">Add to cart</button>
								</ng-template>
								<ng-template #elseBlock>
									<button class="btn btn-primary mt-2" (click)="addtocart(product)">Add to cart</button>
								</ng-template>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>

